<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="d-flex justify-content-center h-50">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div style="margin-top: 10px;margin-bottom:-90px;">
                    <h3>Rejestracja</h3>
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="username" placeholder="Username" ngModel
                          #usernameInput="ngModel" required>
                      </div>
                      <span class="help-block" style="color:red;" *ngIf="usernameInput.invalid && usernameInput.touched">Uzupełnij to pole</span>

                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" name="password" placeholder="Password" ngModel
                            #passwordInput="ngModel" required>
                    </div>
                    <span class="help-block" style="color:red;"
                        *ngIf="passwordInput.invalid && passwordInput.touched">Uzupełnij to pole</span>

                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="text" class="form-control" name="email" placeholder="Email" required ngModel
                            #emailInput="ngModel">
                    </div>
                    <span class="help-block" *ngIf="emailInput.invalid && emailInput.touched" style="color:red;">Uzupełnij to pole</span>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button [disabled]="registerForm.invalid || showLoading" type="submit" name="button"
                            class="btn login_btn">
                            <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                            <span *ngIf="showLoading">Loading...</span>
                            <span *ngIf="!showLoading">Register</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Masz już konto? <a routerLink="/login" class="ml-2" style="color: #2C3E50;">Zaloguj się</a>
                </div>
            </div>
        </div>
    </div>
</div>