<footer class="footer spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="footer__about">
					<ul>
						<li>Adres: al. Tadeusza Rejtana 16C, Rzeszów</li>
						<li>Phone: 123 456 789</li>
						<li>Email: qerbitz@gmail.com</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
				<div class="footer__widget">
					<ul>

						<li><a th:href="@{/login}">Logowanie</a></li>
						<li><a th:href="@{/registration/showRegistrationForm}" >Rejestracja</a></li>
					</ul>

				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div class="footer__widget">
					<p>Zapraszamy również</p>
					<div class="footer__widget__social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="footer__copyright">
					<!--<div class="footer__copyright__text"><p>
						Copyright &copy; <script>document.write(new Date().getFullYear());</script> Krzysztof Pleśniak </a></p></div>-->
					<div class="footer__copyright__payment"></div>
				</div>
			</div>
		</div>
	</div>
</footer>